﻿@model TaskCity.Models.WTask

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <h2>Заполнение заявки</h2>
    <p>Пожалуйста, заполните все поля.</p>
    <hr />

    @using (Html.BeginForm("Create", "Tasks", FormMethod.Post, new { @class = "form-group", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })

        <div class="form-group">
            @Html.Label("Задание:", new { @class = "col-sm-2 control-label" })
            @Html.DropDownListFor(x => x.CatId, (SelectList)ViewBag.CatItems, new { @class = "btn btn-default dropdown-toggle", style = "width: 250px", onchange = "OnSelectedCatChange(this,'GetSubCats')" }) 

            @Html.DropDownListFor(x => x.SubCatId, (SelectList)ViewBag.SubCatItems, "Не выбрано", new { @class = "btn btn-default dropdown-toggle", style = "width: 250px", id = "subcats_ddl", onchange = "UpdateCatInfoContent(this,'GetCatInfo')" })
        </div>

        <div style="width: 695px" class="alert alert-info" role="alert" id="catinfo" hidden=""></div>
        
        <div class="form-group form-inline">
            @Html.Label("Описание: ", new { @class = "col-sm-2 control-label" })
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Подробно расскажите, что нужно сделать", style = "width: 505px" })
        </div>
        <div class="form-group form-inline">
            @Html.Label("Адрес:", new { @class = "col-sm-2 control-label" })
            @Html.DropDownList("city", new[]
            {
                new SelectListItem() {Text = "Ростов-на-Дону"},
            }, new { @class = "btn btn-default dropdown-toggle", style = "width: 250px" })

            @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder = "пример: Ленина 19/1, кв. 12", style = "width: 250px" })
        </div>
        <div class="form-group form-inline">
            @Html.Label("Телефон:", new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "+7928123456789", style = "width: 505px" })
        </div>
        <div class="form-group form-inline">
            @Html.Label("Обращение:", new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "пример: Фёдор Иванович", style = "width: 505px" })
        </div>

        <div class="form-group">
            <div class="text-left">
                <input type="submit" class="btn btn-default btn-lg" value="Создать" />
            </div>
        </div>
    }



    <div>
        <a href="@Url.Action("Index")"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a>
    </div>
 </div>
@Scripts.Render("/Scripts/dropbox-selectsubcat-update.js")