﻿@model TaskCity.Models.WTask

@{
    ViewBag.Title = "Удаление задания";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данное задание?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


            <input type="submit" value="Удалить" class="btn btn-default" />
   
 
    }
    <br/>
    <a href="@Url.Action("Index")"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a>
</div>
