﻿@model IEnumerable<TaskCity.Models.WTask>

@{
    ViewBag.Title = "Index";
}

<h2>Список заданий</h2>

<p>
    <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus-sign"></span> Добавить задание</a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <div class="form-group">
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-default"><span class="glyphicon glyphicon-remove-sign"></span></a>
            </div>
        </td>
    </tr>
}

</table>
