﻿@{
    ViewBag.Title = "О сервисе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>TackCity - удобный сервис для поиска исполнителей в Ростове-на-Дону, 
    который позволяет быстро и выгодно решать Ваши задачи. Достаточно описать
    Вашу задачу, и уже через некоторое время с Вами свяжутся специалисты для дальнейших
    консультаций.</p>
