﻿@model TaskCity.Models.IndexWTaskModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container" id="task">
    <h2>Заполнение заявки</h2>
    <p>Пожалуйста, заполните все поля.</p>
    <hr />
    
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-group", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })

        <!-- Tab Content Containers -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="TaskTab" onchange="OnSelectedCatChange(this,'@Url.Action("GetSubCats", "Home")')">

                <div>
                    <div class="form-group">
                        @Html.Label("Задание:", new { @class = "col-sm-2 control-label" })
                        @Html.DropDownListFor(x => x.CatId, (SelectList)ViewBag.CatItems, new { @class = "btn btn-default dropdown-toggle", style = "width: 250px", onchange = "OnSelectedCatChange(this,'Home/GetSubCats')" })

                        @Html.DropDownListFor(x => x.SubCatId, (SelectList)ViewBag.SubCatItems, "Не выбрано", new { @class = "btn btn-default dropdown-toggle", style = "width: 250px", id = "subcats_ddl", onchange = "UpdateCatInfoContent(this,'Home/GetCatInfo')"})
                    </div>
                    
                    
                    <div style="width: 695px" class="alert alert-info" role="alert" id="catinfo" hidden=""></div>
                    
                    <div class="form-group form-inline">
                        @Html.Label("Описание: ", new { @class = "col-sm-2 control-label" })
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Подробно расскажите, что нужно сделать", style = "width: 505px" })
                    </div>
                    <div class="form-group form-inline">
                        @Html.Label("Адрес:", new { @class = "col-sm-2 control-label" })
                        @Html.DropDownList("city", new[]
                        {
                            new SelectListItem() {Text = "Ростов-на-Дону"},
                        }, new { @class = "btn btn-default dropdown-toggle", style = "width: 250px" })

                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder = "пример: Ленина 19/1, кв. 12", style = "width: 250px" })
                    </div>
                    <div class="form-group form-inline">
                        @Html.Label("Телефон:", new { @class = "col-sm-2 control-label" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "+7928123456789", style = "width: 505px" })
                    </div>
                    <div class="form-group form-inline">
                        @Html.Label("Обращение:", new { @class = "col-sm-2 control-label" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "пример: Фёдор Иванович", style = "width: 505px" })
                    </div>

                    <div class="form-group">
                        <div class="text-left">
                            <input href="#RegisterTab" class="btn btn-default btn-lg" onclick="$('#tabstrip a:last').tab('show')" value="Продолжить" />
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="RegisterTab">

                <div>
                    <div class="form-group form-inline">
                        @Html.Label("Email:", new { @class = "col-sm-2 control-label" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "example@mail.ru", style = "width: 505px", @type = "email" })
                    </div>

                    <div class="form-group form-inline">
                        @Html.Label("Пароль:", new { @class = "col-sm-2 control-label" })
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", style = "width: 505px" })
                    </div>

                    <div class="form-group form-inline">
                        @Html.Label("Подтверждение пароля:", new { @class = "col-sm-2 control-label" })
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", style = "width: 505px" })
                    </div>

                    <div class="form-group">
                        <div class="text-left">
                            <input type="submit" class="btn btn-default btn-lg" value="Отправить" />
                        </div>
                    </div>
                </div>


            </div>
        </div>
    }

    <ul id="tabstrip" class="nav nav-tabs" role="tablist">
        <li class="active" id="tab1"><a href="#TaskTab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
        <li id="tab2"><a href="#RegisterTab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    </ul>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Заполните заявку</h2>
        <p>
            Мы сообщим исполнителям о Вашей задаче.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Получите отклики</h2>
        <p>Специалисты свяжутся с Вами, для дальнейших консультаций.</p>
    </div>
    <div class="col-md-4">
        <h2>Выберите исполнителя</h2>
        <p>Среди полученных предложений, выберите наиболее выгодное для Вас.</p>
    </div>
</div>
@Scripts.Render("/Scripts/dropbox-selectsubcat-update.js")
